<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="./css/basket.css">
</head>
<body>
<th:block th:replace="/fragments/header :: headerFragment"/>
<div id ="top">
    <div id="cart-text">My cart</div>
    <hr/>
   <table class='table table-hover'>
    <thead>
    <tr>
        <th scope='col'>#</th>
        <th scope='col'>Image</th>
        <th scope='col'>Name</th>
        <th scope='col'>Price</th>
        <th scope='col'>Date</th>
        <th scope='col'>Check</th>
        <th scope='col'>Delete</th>
    </tr>
    </thead>
    <tbody>

    <tr>
        <th scope='row'>$idx</th>
        <td><img src='../shop/$re[3]' class='img-content'></td>
        <td>$re[1]</td>
        <td>€$re[2]</td>
        <td>$re[5]</td>
        <td><input type='checkbox'></td>
        <td><a href='./delete_form.php?a=$re[0]'>삭제</a></td>
    </tr>
    ";
    }
    echo "</tbody></table>";
}
?>
<hr/>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>
</html>
