<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/store.css">
</head>
<body>
<th:block th:replace="/fragments/header :: headerFragment"/>
<div id="s-container">
    <form method="post" action="/find">
        <input name="fname" type="text" placeholder="상품명을 검색하세요" id="s-content">
    <button type="submit" id="s-button"><img src='./img/search.png' style="width: 20px;"></button>
    </form>
</div>
<div id="first">
    <div class="f-container" th:each="goods:${list}">
        <a th:href="@{'/show/'+${goods.goods_id}}">
        <div class="g-img" th:style="'background-image:url('+ @{${goods.goods_url}} +');'"></div>
        <div class="g-text">
            <div th:text="${goods.goods_name}"></div>
            <div class="price" th:text="'₩ ' + ${goods.price}"></div>
        </div>
        </a>
    </div>
</div>
</body>
</html>