<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/board.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<th:block th:replace="fragments/header :: headerFragment(${user})"/>
<div class="container mt-2">
    <!-- board list area -->
    <div id="board-list">
        <div class="container">
            <table class="board-table">
                <thead>
                <tr>
                    <th scope="col" class="th-num">번호</th>
                    <th scope="col" class="th-title">제목</th>
                    <th scope="col" class="th-title">작성자</th>
                    <th scope="col" class="th-date">등록일</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="p:${post}">
                    <td th:text="${p.post_id}"></td>
                    <th>
                        <a th:href="@{'view/' + ${p.post_id}}" th:text="${p.post_title}"></a>
                    </th>
                    <td th:text="${p.user_id}"></td>
                    <td th:text="${p.post_date}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<a href="/write" class="on">글 작성하기</a>
<br/>
<h3>가장 많은 포스트의 유저</h3>
<div th:each="m:${max_user}">
    <span th:text="${m}+'  '"></span>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</html>