<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/css.css">
</head>
<body>
<div class="board_wrap">
    <div class="board_title">
        <strong>햄공방</strong>
        <p>햄스터 정보 공유 방입니다</p>
    </div>
    <div class="board_write_wrap">
        <form action="/update" method="post">
            <div class="board_write">
                <div class="title">
                    <dl>
                        <dt>제목</dt>
                        <dd><input type="text" placeholder="제목 입력" name="post_title" th:value="${post.post_title}"></dd>
                    </dl>
                </div>
                <div class="cont">
                    <textarea placeholder="내용 입력" name="post_content" th:text="${post.post_content}"></textarea>
                </div>
            </div>
            <div class="bt_wrap">
                <input type="hidden" th:value="${post.post_id}" name="post_id">
                <button type="submit" class="on">수정</button>
                <a href="/">취소</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>