<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" href="/css/css.css">
</head>
<body>
<div class="board_wrap">
    <div class="board_title">
        <strong>햄공방</strong>
        <p>햄스터 정보 공유 방입니다</p>
    </div>
    <div class="board_view_wrap">
        <div class="board_view">
            <div class="title" th:text="${view.post_title}">
            </div>
            <div class="info">
                <dl>
                    <dt>번호</dt>
                    <dd th:text="${view.post_id}"></dd>
                </dl>
                <dl>
                    <dt>글쓴이</dt>
                    <dd th:text="${view.user_id}"></dd>
                </dl>
                <dl>
                    <dt>작성일</dt>
                    <dd th:text = "${view.post_date}"></dd>
                </dl>
            </div>
            <div class="cont" th:text="${view.post_content}">
            </div>
        </div>
        <div class="bt_wrap">
            <a href="/" class="on">목록</a>
            <th:block th:if="${userid == view.user_id}">
                <a th:href="@{'update/' + ${view.post_id}}">수정</a>
                <a th:href="@{'delete/' + ${view.post_id}}">삭제</a>
            </th:block>
            <a th:href="@{'/chat/' + ${view.post_id}}" class="on">댓글</a>
        </div>
    </div>
</div>
</body>
</html>